bin/*
.metadata/*
.vscode/*
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_q.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_q.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_q.fnm
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_q.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_q.fdx
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_q.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_q.prx
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_q.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/segments.gen
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/segments_r
.recommenders/caches/manual-mappings.json
.recommenders/caches/identified-project-coordinates.json
.bashrc
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_q.nrm
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/_q.tii
